{{>menu}}
<title>Example</title>
<main class="grid">
    <div class="image">
        <img src="/images/crocs2.png" alt="Sample photo">
        <h5>TItulo</h5>
    </div>
    <div class="image">
        <img src="/images/tn3.png" alt="Sample photo">
    </div>
    <div class="image">
        <img src="/images/af1.png" alt="Sample photo">
    </div>
    <div class="image">
        <img src="/images/samba.png" alt="Sample photo">
    </div>
    <div class="image">
        <img src="/images/jordan1.png" alt="Sample photo">
    </div>
    <div class="image">
        <img src="/images/crocs3.png" alt="Sample photo">
    </div>
</main>
{{>footer}}