<footer>
    <div class="footer-container">
        <h3 id="siguenos">Síguenos</h3>
        <div class="social-icons">

            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>

        <div class="footer-nav">
            <ul id="footer-menu">
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/zapatilla">Zapatos</a></li>
                <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2024 Aqua Walkers. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>


