{{>menu}}
    <div id="banner1" class="row"></div>
    <div class="row">
        <div class="col" id="banner2"></div>
        <div class="col" id="banner3"></div>
    </div>
    <br>
    <h3 style="text-align: center">Destacados</h3>
    <br>
    <div class="row">
        <div class="col-md-4 row">
            <img src="/images/crocs2.png" alt="foto1"  /><br>
            <h4>Nombre</h4>
            <button type="button" class="btn btn-outline-info">Más información</button>
        </div>
        <div class="col-md-4 row">
            <img src="/images/crocs2.png" alt="foto1" /><br>
            <h4>Nombre</h4>
            <button type="button" class="btn btn-outline-info">Más información</button>
        </div>
        <div class="col-md-4 row">
            <img src="/images/crocs2.png" alt="foto1"/><br>
            <h4>Nombre</h4>
            <button type="button" class="btn btn-outline-info">Más información</button>
        </div>
    </div>
    <br>
{{>footer}}

