{{>menu}}
    <div id="banner1" class="row"></div>
    <div class="row">
        <div class="col" id="banner2"></div>
        <div class="col" id="banner3"></div>
    </div>
    <br>
    <h2 style="text-align: center">Mandanos tus ideas</h2>
    <form action="/uploadfile" method="post" enctype="multipart/form-data" >
        <input type="file" name="filename">
        <button type="submit">añade</button>
    </form>
    <h3 style="text-align: center">Destacados</h3>
    <br>
    <div class="row">
        {{#zapa1}}
        <div class="col-md-4 row">
            <img src="/zapatilla/{{id}}/image" alt="foto1"  /><br>
            <h4>{{nombre}}</h4>
            <a href="/zapatilla/{{id}}"><button type="button" class="primary-button btn btn-outline-info">Más información</button></a>
        </div>
        {{/zapa1}}
        {{#zapa2}}
        <div class="col-md-4 row">
            <img src="/zapatilla/{{id}}/image" alt="foto1" /><br>
            <h4>{{nombre}}</h4>
            <a href="/zapatilla/{{id}}"><button type="button" class="primary-button btn btn-outline-info">Más información</button></a>
        </div>
        {{/zapa2}}
        {{#zapa3}}
        <div class="col-md-4 row">
            <img src="/zapatilla/{{id}}/image" alt="foto1"/><br>
            <h4>{{nombre}}</h4>
            <a href="/zapatilla/{{id}}"><button type="button" class="primary-button btn btn-outline-info">Más información</button></a>
        </div>
        {{/zapa3}}
    </div>
    <br>
{{>footer}}

