<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<div  class="container">
    <div class="form-content">
        <h1 id="title">Login</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <label>
                        <input type="text" placeholder="Nombre" name="username">
                    </label>
                </div>
                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <label>
                        <input type="password" placeholder="Contraseña" name="password">
                    </label>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </div>
            </div>
            <div class="btn-field">
                <button id="singIn" type="submit" class="disable">Entrar</button>
            </div>
            <div class="register-link">
                <p>Crea una cuenta ahora <a href="/register">Register</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>