<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">

        <a class="navbar-brand" href="#"><img src="/images/logo/logo3.png" width="140" height="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/inicio">Inicio</a>
                <a class="nav-link active" href="/zapatilla">Zapatos</a>
                <a class="nav-link active" href="#">Marcas</a>
                <a class="nav-link active" href="#">Sobre Nosotros</a>
            </div>
        </div>
        <div class="text-right">
            <a class="iconRight" href="#"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
            <a class="iconRight" href="#"><i class="fa-solid fa-circle-user fa-xl"></i></a>
        </div>
    </div>
</nav>