{{>menu}}
<form action="/newshoe" method="post"  enctype="multipart/form-data">
    <label>Nombre:</label>
    <input type="text" name="nombre" />
    <label>Marca:</label>
    <input type="text" name="marca" />
    <label>Descripción:</label>
    <input type="text" name="descripcion"/>
    <label>Imagen:</label>
    <input type='file' name='file' accept=".jpg, .jpeg, .png" />
    <label>Stock:</label>
    <input type="text" name="stock" />
    <label>Talla:</label>
    <input type="text" name="talla" />
    <label>Precio</label>
    <input type="text" name="precio" />
    <input type="hidden" name="_csrf" value="{{token}}" />
    <input type="submit" value="Añadir" />
</form>
{{>footer}}