
{{>menu}}
<br>
<br>
{{#user}}
<head>
    <link rel="stylesheet" href="/styles/userCard.css">
</head>
<div class="bulto">

    <div id="headerUser"></div>
    <div id="profile">
        <div class="imageUser">
            <img src="https://a4-images.myspacecdn.com/images03/2/85a286a4bbe84b56a6d57b1e5bd03ef4/300x300.jpg" alt="" />
        </div>
        <div class="nameUser">
            {{name}}
        </div>
        <div class="nickname">
            {{mail}}
        </div>
        <div class="location">
            <i class="material-icons">place</i>Spain
        </div>
    </div>
    </div>
{{/user}}

{{#admin}}
<a class="nav-link active" href="/users">Usuarios</a>
{{/admin}}
<br>
<br>
{{>footer}}