*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
.section{
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/About/about-us.jpg");
    background-size: cover;
    background-position: center;
}
.title{
    color:orange;
    text-align:center ;
    font-weight: bold;
    font-size:3em;
    margin-bottom: 50px;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
}
.content{
    text-align: justify;
    color: white;
    margin:auto;
}