img{
    display: inline-block;
    width: 33%;
    border: solid 1px;
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
}

.texto{
    display: inline-block;
    border: solid 1px;
    width: 50%;
    height: 400px;
}

